# Workspace version: 1.49.4
uvicorn[standard]==0.34.2
ipykernel==6.29.5
fastapi==0.115.12
python-multipart==0.0.9
# databutton==0.38.34
openai
beautifulsoup4
requests
asyncpg
google-api-python-client
google-auth-httplib2
google-auth
email-validator